:host{
    --ion-tab-bar-background: white;
    ion-header{
        ion-button{
            --background: #c7c3c3;
            --padding-start: 0.7em;
            --padding-end: 0.7em;
            --padding-top: 0.7em;
            --padding-bottom: 0.7em;
        }
        ion-back-button{
            --background: #c7c3c3;
            --icon-font-weight: bold;
        }
    }
    ion-tab-bar{
        ion-tab-button.tab-selected{
            background-color: #c11fc4;
            color: white;
            border-radius: 16px;
        }
    }
}