<ion-content>
  <div class="prepage2-container">
    <!-- Image Container -->
    <div class="image-container">
      <img src="../../../assets/images/onboarding-page2.png" alt="Onboarding Image" />
    </div>

    <!-- Title -->
    <div class="title">
      All your favorites
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation-buttons">
      <ion-button class="skip-button" (click)="goToLogin()">
        SKIP
      </ion-button>

      <ion-button class="next-button" (click)="goToNextPage()">
        NEXT
      </ion-button>
    </div>
  </div>
</ion-content>