<ion-content [fullscreen]="true">
  <div class="h-[40%] rounded-b-lg overflow-hidden">
    <img src="../../../assets/images/food-4.jpg" alt="" class="h-full w-full object-cover rounded-b-2xl">
    <div class="fixed top-5 w-full flex justify-between items-center px-5">
      <ion-back-button class="flex items-center justify-center" icon="assets/icon/arrow-back.svg" shape="round" size="small">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
          <path fill="#000" d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6l6 6z" />
        </svg>
      </ion-back-button>
      <ion-button class="flex items-center justify-center" shape="round" size="small">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
          <path fill="#ccc" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z" />
        </svg>
      </ion-button>
    </div>
  </div>
  <div class="space-y-3 p-5">
    <div class="">
      <h2 class="text-3xl font-bold text-gray-900">Food</h2>
      <div class="">
        <span class="text-sm">Restaurant 2</span>
      </div>
    </div>
    <div class="flex items-center mt-2 space-x-5">
      <div class="flex items-center p-1 rounded-2xl space-x-2 bg-gray-400/40 text-black">
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
            <g fill="none">
              <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
              <path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 2a1 1 0 0 1 .993.883L13 7v4.586l2.707 2.707a1 1 0 0 1-1.32 1.497l-.094-.083l-3-3a1 1 0 0 1-.284-.576L11 12V7a1 1 0 0 1 1-1" />
            </g>
          </svg>
        </span>
        <span class="pr-1">20 min</span>
      </div>
      <div class="flex items-center p-1 rounded-2xl space-x-2 bg-gray-400/40 text-black">
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
            <path fill="currentColor" d="M18.9 6c-.2-.6-.8-1-1.4-1h-11c-.7 0-1.2.4-1.4 1L3 12v8c0 .5.5 1 1 1h1c.6 0 1-.5 1-1v-1h12v1c0 .5.5 1 1 1h1c.5 0 1-.5 1-1v-8zM6.8 7h10.3l1.1 3H5.8zM19 17H5v-5h14zM7.5 13c.8 0 1.5.7 1.5 1.5S8.3 16 7.5 16S6 15.3 6 14.5S6.7 13 7.5 13m9 0c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5" />
          </svg>
        </span>
        <span class="pr-1">10 KM</span>
      </div>
      <div class="flex items-center p-1 rounded-2xl space-x-2 bg-gray-400/40 text-black">
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
            <path fill="gold" d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z" />
          </svg>
        </span>
        <span class="pr-1">4.7</span>
      </div>
    </div>
    <div class="">
      <p class="text-gray-500 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsum ratione libero adipisci reprehenderit! Beatae eligendi cupiditate eum iste expedita?</p>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border bg-gray-200 rounded-t-2xl ion-padding space-y-5">
  <div class="flex items-center justify-between">
    <span class="text-lg font-semibold">1000 Fcfa</span>
    <div class="flex items-center bg-[#121223] rounded-full space-x-5 p-1">
      <ion-button class="" shape="round" size="small" (click)="decrement()">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
          <path fill="#fff" d="M5 13v-2h14v2z" />
        </svg>
      </ion-button>
      <span class="text-white font-semibold text-lg">{{total}}</span>
      <ion-button class="add" shape="round" size="small" (click)="total = total + 1">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
          <path fill="#fff" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" />
        </svg>
      </ion-button>
    </div>
  </div>
  <ion-button shape="round" expand="full" size="large">Ajouter au panier</ion-button>
</ion-footer>